<h1>editing <%=@event.name %></h1>

<%= render 'form' %>
<section class="mt5 mb5">
  <div class="container w-70 mr-auto ml-auto">

    <div class="flex flex-wrap-m">
      <div class="w-33  b--solid b--light-gray bw1 br2 pa3 ma2">
        <h1 class="f3 ma0">Kata Camp</h1>
        <p class="mid-gray">This is KataCamp.  The best kind of camp you'll find around.</p>
        <a href="" class="pa2 black bg-light-blue no-underline">Show</a>
      </div>
      <div class="w-33  b--solid b--light-gray bw1 br2 pa3 ma2 ">
        <h1 class="f3 ma0">Kata Camp</h1>
        <p class="mid-gray">This is KataCamp.  The best kind of camp you'll find around.</p>
        <a href="" class="pa2 bg-blue no-underline">Show</a>
      </div>
      <div class="w-33  b--solid b--light-gray bw1 br2 pa3 ma2">
        <h1 class="f3 ma0">Kata Camp</h1>
        <p class="mid-gray">This is KataCamp.  The best kind of camp you'll find around.</p>
        <a href="" class="pa2 bg-blue no-underline">Show</a>
      </div>

    </div>


  </div>
</section>