
<section>
  <div class="container w-70 ml-auto mr-auto">
    <h1 class="f-2">Hi</h1>


    <ul>
      <%@events.each do |event| %>
        <li><%=event %></li>
      <% end %>
    </ul>

  </div>
</section>