
<section>
  <div class="container w-70 ml-auto mr-auto">
    <h1 class="f-2">Hi</h1>


    <ul>
      <%@events.each do |event| %>
        <li class="flex">
          <div class="mr2">Name:</div>
          <div><%= event.name%></div>
        </li>

        <li class="flex">
          <div class="mr2">Location:</div>
          <div><%= event.location%></div>
        </li>

        <li class="flex">
          <div class="mr2">Price:</div>
          <div><%= number_to_currency(event.price, precision: 0)%></div>
        </li>

        <br>

      <% end %>
    </ul
  </div>
</section>